

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    padding-bottom: 20px;
    background-color: #000000;
}

.mainContainer {
	width: 800px;
	background-color: #FCFCFC;

}

.logoSpan {
	text-align: center;
	width: 40%;
	height: 50px;
	background-color: green;
}

.sloganSpan {
	text-align: center;
	width:70%;
	height: 80px;
	background-color: red;
}

.call-to-action {
	text-align: center;
}

.btn .landlord {
	margin-left: 30%;
}

.tenant .btn {
	margin-right: 30%;
}

.blueBorder {
	background-color: #0d4f88;
	width: 100%;
	height: 5px;
}

.footer {
	background-color: #0e69b7;
	padding: 5px;
	height: 30px;
}

.aboutDescription {
	text-align: left;
	background-color: #0e69b7;
	padding: 15px;
}

.centered {
	margin: 0 auto;
}

.center
{
margin-left:auto;
margin-right:auto;
}


.right
{
position:absolute;
right:0px;
width:300px;
background-color:#b0e0e6;
}

.call-to-action {
	text-align: center;
}