body
{
	background-color: #0e69b7;
}

.clearFloat
{
	clear: both;
}

#headerOut
{
	height: 90px;
	border-top: 10px solid #0d4f88;
	background-color: #0e69b7;
}

#headerIn
{
	width: 1024px;
	margin: 0 auto;
}

	#headerIn p
	{
		color: white;
		font-family: "Gill Sans MT", sans-serif;
		font-size: 20px;
		float: right;
		margin-top: 50px;
	}

	#headerIn h1
	{
		color: white;
		font-size: 62px;
		margin-top: 20px;
		float: left;
		font-family: 'harlow', sans-serif;
	}

#contentOut
{
	background-color: white;
}

#contentIn
{
	width: 1024px;
	padding: 0px 20px;
	margin: 0 auto;
	background-color: white;
}

	#contentIn h3
	{
		font-size: 32px;
		color: #0d4f88;
		font-family: "Gill Sans MT", sans-serif;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	#contentIn p
	{
		font-family: "Gill Sans MT" ,sans-serif;
		color: #0e69b7;
		font-size: 18px;
		padding-bottom: 20px;
	}

	#left
	{
		float: left;
		width: 472px;
	}

	#right
	{
		float: right;
		width: 472px;
		padding-top: 132px;
	}

#footerOut
{
	min-height: 90px;
	border-top: 10px solid #0d4f88;
	background-color: #0e69b7;
}

#footerIn
{
	width: 1024px;
	margin: 0 auto;
}
