{% load static %}
{% load url from future %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Landlord{% endblock %}</title>

    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="{% get_static_prefix %}css/bootstrap.min.css" rel="stylesheet"
          media="screen">
    <link rel="stylesheet" href="{% get_static_prefix %}css/style.css" type="text/css" />
    <link href="{% get_static_prefix %}css/bootstrap-responsive.min.css"
          rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../static/css/main.css">

</head>
<body>

	
<div id="main" class="container">
	{% include 'core/header.html' %}
    {% block breadcrumbs %}{% endblock %}
    {% block content %}{% endblock %}
    <div id="push"></div>
</div>

<footer class="footer">
    <div class="container">
        <a href="/">Home</a> |
        <a href="/about">About</a>
    </div>
</footer>

<script type="text/javascript"
        src="{% get_static_prefix %}js/jquery.js"></script>
<script type="text/javascript"
        src="{% get_static_prefix %}js/bootstrap.min.js"></script>
</body>
</html>