{% load static from staticfiles %}
{% load i18n %}

{% load url from future %}

{% block content %}

	<div class="header">
		<span class="pull-left" id="logo_index_link">
			<a class="logo logoLink" href="{% url 'index' %}">Roomer</a>
		</span>
	    <span class="headerSignIn pull-right">
	    	{% if user.is_authenticated %}
	    		<a href="{% url 'account' %}" >Account <strong class="caret"></strong></a>
	    		<a href="{% url 'django.contrib.auth.views.logout' %}" >Sign Out <strong class="caret"></strong></a>
	    	{% else %}
	    		<a href="{% url 'loginView' %}" >Sign In <strong class="caret"></strong></a>
	    	{% endif %}
	    </span>
		<div class="blueBorder"></div>
	</div>

{% endblock %}